---
import dayjs from "dayjs";

function dateConvertor(text: string) {
  const dateObj = dayjs(text);
  const dateString = dateObj.format("dddd, MMMM D, YYYY");
  return dateString;
}

const api =
  "https://api.github.com/repos/devicetree-org/devicetree-specification/releases";

async function fetchData() {
  const response = await fetch(api);
  console.log(response);
  const data = await response.json();
  console.log(data);
  return data;
}

const data_releases = await fetchData();
console.log(data_releases);
---

<div class="lg:px-[190px] p-[10px] flex flex-col">
  <h2 class="font-bold">The Devicetree Specification</h2>
  <h2>Current Release</h2>
  <div class="text-xl mb-4 w-full flex md:flex-row flex-col items-center">
    {
      data_releases ? (
        <a href={data_releases[0].html_url} class="text-primary">
          <div class="flex flex-row">
            <span>DeviceTree Specification Release</span>
            <span>{data_releases[0].tag_name}</span>
          </div>
        </a>
      ) : (
        <div>No data available</div>
      )
    }
    <span class="text-black"> - Released {data_releases[0].created_at}</span>
    <span
      class="text-[#2cbe4e] p-[5px] border border-[#2cbe4e] text-xs align-middle relative ml-2"
      >Latest Release</span
    >
  </div>
  <h2>Past Releases</h2>
  {
    data_releases ? (
      data_releases?.slice(1, 5).map((item: any) => (
        <div
          id={item.id}
          class="text-xl mb-4 w-full  flex md:flex-row flex-col items-center"
        >
          <a href={item.html_url} class="text-primary">
            <div>
              <span>DeviceTree Specification Release</span>
              <span>{item.tag_name}</span>
            </div>
          </a>
          <span class="text-black mb-6">
            - Released {dateConvertor(item.created_at)}
          </span>
        </div>
      ))
    ) : (
      <div>No data available</div>
    )
  }
</div>
