---
import { Image, getImage } from "astro:assets";
import type { CollectionEntry } from "astro:content";

type Props = CollectionEntry<"pages">["data"]["hero"];

const { title, background_image, style, inner_image } = Astro.props!;

console.log(background_image, inner_image!.src);

// const InnerImage = inner_image ? await import(
//   inner_image.src.replace("@/assets", "../../assets")
// ) : undefined;

// const BackgroundImage = await import(
//   background_image.replace("@/assets", "../../assets")
// );

// const optimizedBackgroundImage = await getImage({
//   src: BackgroundImage.default,
// });
// ---

// <section
//   class:list={[
//     style,
//     "hero-background",
//     "flex flex-col items-center text-white justify-around px-5 h-96",
//   ]}
// >
//   {inner_image ?  <Image
//     src={InnerImage.default}
//     alt={inner_image.alt}
//     class="w-64"
//   /> : <></>}
//   <h1 class="text-inherit text-3xl lg:text-5xl text-left">{title}</h1>
// </section>

// <style define:vars={{ backgroundUrl: `url(${optimizedBackgroundImage.src})` }}>
//   .hero-background {
//     background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
//       var(--backgroundUrl);
//     background-position: center;
//     object-fit: cover;
//   }
// </style>
---

{inner_image && <Image src={inner_image.src} alt={inner_image.alt} />}
